@model IEnumerable<CBS_CC.Models.Curso>

@{
    ViewData["Title"] = "Curso";
}
<div class="col-md-2">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" data-url="@Url.Action("Save")">Nuevo</button>
</div>
<div id="modal-placeholder"></div>
<div class="col-md-10">
    <h2>Cursos</h2>
</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th></th>
            <th>
                Curso
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td width="20%">
                    <button type="button" data-toggle="modal" data-target="#editModal" data-url="@Url.Action("Save", "Cursos", new { id = item.CursoId })">Editar</button>
                </td>
                <td width="60%">
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td width="20%">
                    <a asp-action="SetAsignaturas" asp-route-id="@item.CursoId">Asignaturas</a>
                </td>
            </tr>
        }
    </tbody>
</table>
